# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Trash
.DS_STORE
Thumbs.db

# k8s
kubeconfig

*.env
*.rkestate


backups/

# Editors
.vscode/

# vscode-sops
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key
github-deploy-key*

# Ansible
xanmanning.k3s*
# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*

tmpl/
