apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {name of app}-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: "/{bucket_name}/{Path}"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      rewrite ^/?$ /{bucket_name}/{Path}/index.html break;
spec:
  rules:
  - host: {subdomain}.$DOMAIN
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: minio
            port: 
              number: 9000
  tls:
  - hosts:
    - {subdomain}.$DOMAIN
---
apiVersion: v1
kind: Service
metadata:
  name: minio
spec:
  ports:
  - name: http
    port: 9000
  type: ExternalName
  externalName: 192.168.1.50