export DOMAIN=""

export DO_API_EMAIL=""
export DO_API_KEY=""
export DO_API_KEY_BASE64=""

export MINIO_ACCESS_KEY=""
export MINIO_SECRET_KEY=""

export MINIO_ACCESS_KEY_BASE64=""
export MINIO_ACCESS_SECRET_BASE64=""

export BITWARDEN_ADMIN_TOKEN=""

export HASS_API_PASSWORD=""
export HASS_DB_PASSWORD=""
export HASS_TOKEN=""
